/* _content/FjordNestPro/Areas/Admin/Views/Shared/_Layout.cshtml.rz.scp.css */
.flex-container[b-p1nbdvj13k] {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




main[b-p1nbdvj13k] {
    flex: 1;
    margin-top: 100px; /* Juster denne verdien basert på høyden av din header. */
    padding-bottom: 150px;
}

.container[b-p1nbdvj13k] {
    margin-bottom: 100px; /* Juster denne verdien etter behov */
}

footer[b-p1nbdvj13k] {
    margin-top: 50px; /* Juster denne verdien etter behov */
}


body[b-p1nbdvj13k] {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000bd;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-attachment: fixed;
}


    body[b-p1nbdvj13k]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: -1;
    }

header[b-p1nbdvj13k] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #252525;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0; /* Headeren er synlig ved start */
    width: 100%;
    transition: top 0.3s; /* Glatte animasjonen */
    z-index: 1000; /* Sørg for at headeren vises foran andre elementer */
}


.review-text[b-p1nbdvj13k] {
    color: #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.reviewsBox .review-text:last-child[b-p1nbdvj13k] {
    border-bottom: none;
}

.reviewsBox[b-p1nbdvj13k] {
    position: absolute; /* Gjør boksen plassert absolutt i forhold til den nærmeste relativt posisjonerte forfader */
    top: -40px; /* Juster denne verdien for å flytte boksen opp eller ned */
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.7) rgba(0, 0, 0, 0.2);
}




    /* Tilpasset scrollbar for Chrome, Edge og andre Webkit-nettlesere */
    .reviewsBox[b-p1nbdvj13k]::-webkit-scrollbar {
        width: 6px;
    }

    .reviewsBox[b-p1nbdvj13k]::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.2);
    }

    .reviewsBox[b-p1nbdvj13k]::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 20px;
        border: 3px solid transparent;
    }

        .reviewsBox[b-p1nbdvj13k]::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.9);
        }



.intro-text[b-p1nbdvj13k] {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

    .intro-text h2[b-p1nbdvj13k] {
        margin-top: 0;
        font-size: 2em;
        margin-bottom: 15px;
    }

    .intro-text p[b-p1nbdvj13k] {
        font-size: 1.2em;
        margin-bottom: 20px;
        line-height: 1.5;
    }


#logo img[b-p1nbdvj13k] {
    height: 50px;
}

nav[b-p1nbdvj13k] {
    display: flex;
    align-items: center;
    gap: 20px;
}

    nav a[b-p1nbdvj13k] {
        text-decoration: none;
        color: #fffbfb;
        font-weight: 700;
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: color 0.3s;
    }

        nav a:hover[b-p1nbdvj13k] {
            color: #555;
        }

#listing[b-p1nbdvj13k] {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    transition: background-color 0.3s;
}

    #listing:hover[b-p1nbdvj13k] {
        background-color: #555;
    }

#auth a[b-p1nbdvj13k] {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: color 0.3s;
}

    #auth a:hover[b-p1nbdvj13k] {
        color: #555;
    }

    #auth a svg[b-p1nbdvj13k] {
        fill: #ffffff;
    }

.nest-button[b-p1nbdvj13k] {
    display: block;
    width: fit-content;
    margin: 500px auto 0;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .nest-button:hover[b-p1nbdvj13k] {
        background-color: #fff;
        color: #000;
    }

.detaljer-button[b-p1nbdvj13k] {
    display: block;
    width: fit-content;
    margin: 40px auto 0;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .detaljer-button:hover[b-p1nbdvj13k] {
        background-color: #fff;
        color: #000;
    }


.card-img-top[b-p1nbdvj13k] {
    height: 200px;
    object-fit: cover;
}

.card[b-p1nbdvj13k] {
    background: rgba(0,0,0,0.5);
    color: #fff;
}


.property-details-container[b-p1nbdvj13k] {
    display: flex;
    align-items: start;
    gap: 20px;
}

.property-image[b-p1nbdvj13k] {
    flex: 1;
    max-width: 33%;
}

.property-text[b-p1nbdvj13k] {
    color: white;
    flex: 2;
}

.text-color[b-p1nbdvj13k] {
    color: white;
}


.auth #auth[b-p1nbdvj13k] {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .auth #auth a[b-p1nbdvj13k] {
        text-decoration: none;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px 10px;
    }

        .auth #auth a:hover[b-p1nbdvj13k] {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 4px;
        }

    .auth #auth svg[b-p1nbdvj13k] {
        fill: currentColor;
    }

.address-container[b-p1nbdvj13k] {
    position: relative;
}

.action-buttons[b-p1nbdvj13k] {
    position: absolute;
    top: -150px; /* Juster denne verdien til det som passer best */
    right: 0; /* Dette vil plassere knappene til høyre i containeren */
    display: flex;
    gap: 10px;
}




/* Universell stil for begge knappene */
.button[b-p1nbdvj13k] {
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 1.2em;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
}

    .button:hover[b-p1nbdvj13k] {
        opacity: 0.8;
    }

    /* Individuell farge for hver knapp */
    .button.bestill[b-p1nbdvj13k] {
        background-color: blue;
        color: #fff;
    }

    .button.anmeldelser[b-p1nbdvj13k] {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
        border-color: #fff;
    }


        .button.anmeldelser:hover[b-p1nbdvj13k] {
            background-color: #fff;
            color: #000;
        }

#tabletextstyle[b-p1nbdvj13k] {
    color: white;
}
/* _content/FjordNestPro/Views/Home/Index.cshtml.rz.scp.css */
.nest-button-container[b-xd9mzboiwn] {
    text-align: center;
    margin: 20px 0;
}

.nest-button[b-xd9mzboiwn] {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

    .nest-button:hover[b-xd9mzboiwn] {
        background-color: #0056b3;
    }
/* _content/FjordNestPro/Views/Shared/_Layout.cshtml.rz.scp.css */
body[b-to7f8yxv0p] {
    font-family: 'Roboto', sans-serif; /* Endret skrifttype */
    background-color: #f6f6f6; /* Bakgrunnsfarge for litt kontrast */
}

header[b-to7f8yxv0p] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

#logo img[b-to7f8yxv0p] {
    max-width: 200px;
    height: auto;
}

nav a[b-to7f8yxv0p] {
    margin: 0 15px;
    text-decoration: none;
    color: #484848;
    transition: color 0.3s; /* Legg til overgang for en jevn fargeendring */
}

    nav a:hover[b-to7f8yxv0p] {
        color: #95cdf8; /* Hover-farge for lenker */
    }


#auth a[b-to7f8yxv0p] {
    margin-left: 15px;
    text-decoration: none;
    color: #484848;
}

    #auth a:hover[b-to7f8yxv0p] {
        color: #95cdf8; /* Hover-farge for lenker i #auth */
    }



/* Responsive styles */
@media only screen and (max-width: 768px) {
    header[b-to7f8yxv0p] {
        flex-direction: column;
        padding: 10px 20px;
    }

    nav[b-to7f8yxv0p] {
        margin-top: 10px;
    }

        nav a[b-to7f8yxv0p] {
            margin: 0 5px;
        }

    #auth[b-to7f8yxv0p] {
        margin-top: 10px;
    }

        #auth a[b-to7f8yxv0p] {
            margin-left: 5px;
        }

    .search-bar[b-to7f8yxv0p] {
        margin: 20px;
    }
}

@media only screen and (max-width: 480px) {
    #logo[b-to7f8yxv0p] {
        font-size: 20px;
    }

    nav a[b-to7f8yxv0p] {
        font-size: 14px;
    }

    #listing[b-to7f8yxv0p], #auth a[b-to7f8yxv0p] {
        font-size: 14px;
        padding: 8px 10px;
    }
}
