.nest-button-container[b-xd9mzboiwn] {
    text-align: center;
    margin: 20px 0;
}

.nest-button[b-xd9mzboiwn] {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
}

    .nest-button:hover[b-xd9mzboiwn] {
        background-color: #0056b3;
    }
