@model FjordNestPro.Models.Address

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <style>
        h4 {
            margin-top: 20px;
            font-family: 'Arial', sans-serif;
            color: #333;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
            padding: 0;
        }

            ul li {
                margin-bottom: 5px;
            }

        .text-danger {
            color: #ff4b5c;
        }

        .control-label .text-danger {
            color: red;
        }

        .col-md-4 form {
            border: 1px solid #ddd;
            padding: 20px;
            border-radius: 5px;
            background-color: #f5f5f5;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            border: none;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        a {
            color: #007bff;
        }

            a:hover {
                color: #0056b3;
            }

        p {
            color: red;
        }
    </style>
}


<h1>Address</h1>

<h4>Edit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="Admin" asp-controller="Address" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AddressID" />
            <div class="form-group">
                <label asp-for="StreetName" class="control-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <span asp-validation-for="StreetName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Postcode" class="control-label"></label>
                <input asp-for="Postcode" class="form-control" />
                <span asp-validation-for="Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="Admin" asp-controller="Address" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
