@model FjordNestPro.Models.Question

@{
    ViewData["Title"] = "Create";
}
<div id="tabletextstyle">
    <h1>Create</h1>

    <h4>Question</h4>
</div>

<hr />
<div class="card">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerContent" class="control-label"></label>
                <input asp-for="AnswerContent" class="form-control" />
                <span asp-validation-for="AnswerContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnswerImageUrl" class="control-label"></label>
                <input asp-for="AnswerImageUrl" class="form-control" />
                <span asp-validation-for="AnswerImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
