@model FjordNestPro.Models.ApplicationUser
@using Microsoft.AspNetCore.Identity
@using FjordNestPro.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<div class="nav-item">
    <a id="manage" class="nav-link text-dark" title="Name" style="padding-left:0px;">Hello @UserManager.GetUserName(User)!</a>
</div>
<p>
    You can edit your Username and Address here!
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action ="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-danger"></div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-controller="Booking" asp-action="Index">Click here to see your bookings!</a>
    <a asp-controller="Property" asp-action="Index">Click here to see your properties!</a>
</div>